.dropbtn1 {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;

  padding-bottom: 20px;
  top: 10px;
  z-index: 10;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  left: -20px;
  top: 34px;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.dropdown-content a {
  color: rgb(15, 14, 14);
  padding: 8px 8px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;

  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #2874f0;
}
